/* Scss Document */

$white: #fff;
$black: #000;
$font-size1 : 1.4rem;
$font-size2: 14px;
$font-size3: 2rem;
$font-size4 : 20px;
$font-size5: 1.8rem;
$font-size6: 18px;
$font-size7: 5.2rem;
$font-size8: 52px;
$font-size9: 2.2rem;
$font-size10: 22px;

